/* HERO */
.order-btn {
    min-width: 216px;
    min-height: 50px;
    background-color: var(--brand-color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:active,
.order-btn:hover,
.order-btn:focus {
    background-color: #188CE8;
    border-color: transparent;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* PORTFOLIO FILTER */

.section-pad {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header-btn {
    display: inline-block;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--brand-txt-clr);
    max-width: 250px;
    min-width: 125px;
    min-height: 38px;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 25px;
    border-color: transparent;

    transition-property: color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}    

.header-btn:hover, .header-btn:focus {
    background: var(--brand-color-main);
    color:#FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.header-btn-mrg:not(:last-child) {
    margin-right: 8px;
}


/* MODAL */

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-btn {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: 50px;
    background-color: var(--brand-color-main);
    border-radius: 4px;
    border-color: transparent;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:active,
.form-btn:hover,
.form-btn:focus {
    background-color: #188CE8;
    border-color: transparent;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* FOOTER SUBSCR */

.footer-subscribe-btn {
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;

    width: 200px;
    height: 50px;

    background-color: var(--brand-color-main);
    border-radius: 4px;
    border-color: transparent;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #188CE8;
    border-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-icon {
    margin-left: 10px;
    fill: #FFFFFF;
}
