.header__border {
    border-bottom: 1px solid #ECECEC;
    border-top: 0;
}

.nav,
.header__container {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    padding: 32px 0;
    margin-right: 50px;
}


.nav__list {
    display:flex;
    align-items: center;
    margin-right: 0px;
    margin-left: 90px;

}

.nav__link {
    position: relative;

    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-txt-clr);
    padding-bottom: 32px;
    padding-top: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--brand-color-main);
    }
    &--current {
        color: var(--brand-color-main);
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--brand-color-main);
        }
    }
    
}

/* CONTACTS */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item {
    margin-left: 50px;
}


.contacts__link {
    display:flex;
    text-decoration: none;
    color: var(--brand-color-alt);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
    fill: #757575;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, 
.contacts__link:focus {
    color: var(--brand-color-main);
}

.contacts__link:hover .contacts__icon {
    fill: var(--brand-color-main);
}

.contacts__link:focus .contacts__icon {
    fill: var(--brand-color-main);
}

