.team {
    background: #F5F4FA;

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        color: var(--brand-plate-clr);
        text-align: center;
    }

    &__container {
        display:flex;
    }

    &__items {
        background: #FFFFFF;
        margin: 50px 30px 0 0;
        align-items: center;
    }

    &__info {
        padding: 30px;
        box-shadow: 0px 1px 3pc rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__name {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--brand-txt-clr);
        margin-bottom: 10px;
        text-align: center;
    }

    &__role {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.18;
        color: var(--brand-color-alt);
        text-align: center;
    }
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #FFFFFF;
    
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, 
        &:focus {
        background-color: var(--brand-color-main);
        }
    }

    &__icon {
        fill: #AFB1B8;
        
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover &__icon {
            fill: #FFFFFF;
        }

        &:focus &__icon {
            fill: #FFFFFF;
        }
    }
}

